#principal {
    background: url('../img/bg_menu2.gif') top left repeat-x; /*background of menu items (default state)*/
}

.ddsmoothmenu {
    white-space: nowrap;
    font-weight: bold;
    font-size: 9pt;
    background: #414141; /*background of menu bar (default state)*/
    width: 100%;
}

.ddsmoothmenu > ul{
    height: 35px;
    z-index:100;
    margin: -27px 0 0px 0;
    padding: 27px 0 0 0;
    list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu > ul > li{
    height: 35px;
    position: relative;
    display: inline;
    float: left;
}

/*Top level menu link items style*/
.ddsmoothmenu > ul > li a {
    display: block;
    color: white;
    padding: 10px 15px;
    color: #2d2b2b;
    text-decoration: none;
}

* html .ddsmoothmenu > ul > li a{ /*IE6 hack to get sub menu links to behave correctly*/
    display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
    color: white;
}

.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
    background: #FFFFFF; 
    color: #000000;
}

.ddsmoothmenu ul li a:hover{
    background: #FFFFFF; /*background of menu items during onmouseover (hover state)*/
    color: #000000;
}

.ddsmoothmenu > ul > li > ul {
    background-color: #fff;
    font: normal 13px Verdana;
    width: 110%; /*width of sub menus*/
    padding: 0px 0 0px 0px;
    margin: 0 auto;
    border: 1px solid #c1c1c1;
    border-top: none;
    -webkit-border-radius: 0 7px 7px 7px;
    -moz-border-radius: 0 7px 7px 7px;
    border-radius: 0 7px 7px 7px;   
}

.ddsmoothmenu > ul > li > ul > li {
    background-color: #fff;
    
}

.ddsmoothmenu ul li ul li a:link {
    color: #000;
}

.ddsmoothmenu > ul > li > ul > li > a:hover{
    background: #c5c5c4; /*background of menu items during onmouseover (hover state)*/
    color: #000000;
}

/*1st sub level menu*/
/*.ddsmoothmenu ul li ul{
    
}*/

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu > ul > li > ul > li{
    display: list-item;
    float: none;
    list-style: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu > ul > li > ul > li > ul {
    top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu > ul > li > ul > li a{
    color: #000;
    -webkit-border-radius: 0 7px 7px 7px;
    -moz-border-radius: 0 7px 7px 7px;
    border-radius: 0 7px 7px 7px;
}



/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

/*.downarrowclass{
    position: absolute;
    top: 12px;
    right: 7px;
}

.rightarrowclass{
    position: absolute;
    top: 6px;
    right: 5px;
}

 ######### CSS for shadow added to sub menus  ######### 

.ddshadow{ shadow for NON CSS3 capable browsers
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    background: silver;
}

.toplevelshadow{ shadow opacity for NON CSS3 capable browsers. Doesn't work in IE
    opacity: 0.8;
}*/